*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.h_image{
    background-position: center center;
    background-image: url(../images/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 5%;
    font-family: 'Gabriela', serif;
    margin-bottom: 5%;
    height: 600px;
}

.h_image h1{
padding: 10px;
margin: 5px;
}

.h_image p{
  padding: 5px;
}

#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  }

  #mouse_click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px; 
  }

  #mouse_click {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
  }
  
  .about{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 0%;
    font-family: 'Copse', serif;
  }
  #about{
    font-family: 'Gabriela', serif;
  }
  .s_image{
    background-image: url(../images/assets/backgrounds/s_image.jpg);  
    text-align: center;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Copse', serif;
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 5%;
    justify-content: center;
    position: relative;
  }

  .what-we-do{
    text-align: center;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .what-we-do h4{
    font-size: xx-large;
    padding-bottom: 38px;
  }

  .design-text, .development-text, .product-text{ 
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
  }
  #product .title, #development .title, #design .title{
    font-size: 20px;
    font-weight: 600;
  }

  #portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%; 
    padding-bottom: 0%;
  }
  .col-md-3 img {
    max-width: 100%;
    max-height: 100%;
  }

  .col-md-3 p, #overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8{
    color: white;
    width: 80%;
    height: 100px;
    top: 10px;
    left: 20px;
    font-weight: bolder;
    text-align: center;
    margin-top: -70%;
    font-family: 'Delius Swash Caps', cursive;
    border: 2px solid white;
    z-index: -1;
    position: relative;
    display: none;
  }

  .portfolio h5{
    text-align: center;
    padding-top:40px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container-fluid{
    background-image: url(../images/assets/backgrounds/c_image.jpg);  
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-top: 5px;
    padding-top: 6px;
    margin-bottom: 5px;
  }

  input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  
  .form-control::-webkit-input-placeholder { 
    color: white;
  }
  #MERGE1{
    width: 28%;
    margin-left: 20%;
    margin-right: 50px;
    margin-top: 5%;
    margin-bottom: -8%;
  }
  #MERGE0{
    width: 30%;
    margin-left: 50%;
    margin-right: 50px;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  #comment{
    margin-left: 20%;
    width: 60%;
  }
  button{
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  footer{
    text-align: center;
    padding-top: 30px;
    font-family: 'Delius Swash Caps', cursive;
  }

  footer p{
    margin-top: 10px;
 }